export(Rcache)
export(couch)
export(foo)
export(goCache)
export(goCouch)
export(goLocal)
export(goLocal2)
export(goRcache)
export(goRedis)
export(goSave)
export(goSqlite)
export(local)
export(local2)
export(makeKey)
export(mongo)
export(sqlite)
import(R.cache)
import(RMongo)
import(digest)
import(httr)
import(plyr)
import(rredis)
import(sofa)
