export(cache_clear)
export(cache_get)
export(cache_save)
export(cachefxn)
export(get_couch)
export(get_local)
export(get_rcache)
export(get_redis)
export(get_sqlite)
export(make_key)
export(save_couch)
export(save_local)
export(save_rcache)
export(save_redis)
export(save_sqlite)
import(R.cache)
import(digest)
import(filehashSQLite)
import(httr)
import(plyr)
import(rjson)
import(rredis)
import(sofa)
